/* Search Bar */
.input-group .form-control {
  color: #fff;
  background-color: #1b8bfc;
  border: 1px solid #6c757d;
  border-radius: 20px;
  padding: 10px 15px;
}

.input-group .form-control:focus {
  box-shadow: 0 0 5px #6c757d;
}

.input-group .form-control::placeholder {
  color: #adb5bd;
  opacity: 1;
}

/* Users List */
.list-group-item {
  border: none;
  margin-bottom: 10px;
}

.form-select {
  color: #fff;
  border-color: #fff;
  background-color: #65a4e4;
}

.form-select:focus {
  box-shadow: none;
}

.badge {
  font-size: 0.85rem;
  padding: 0.4em 0.6em;
  border-radius: 0.5rem;
}

/* Button */
.btn-success {
  padding: 10px 20px;
  border-radius: 20px;
}
