<section *ngIf="selectedGroup" id="group-management-section">
  <!-- Navigation Tabs -->
  <div class="d-flex align-items-center justify-content-between mt-3">
    <div class="nav nav-tabs-sub mt-0">
      <!-- Channel Management Tab -->
      <a
        class="nav-item nav-link nav-btn custom-tab"
        (click)="selectChannelManagement()"
        [class.active]="selectedTab === 'channel_management'"
      >
        Manage {{ selectedGroup.groupname }} Channels
      </a>
      <!-- User Management Tab -->
      <a
        class="nav-item nav-link nav-btn custom-tab"
        (click)="selectUserManagement()"
        [class.active]="selectedTab === 'user_management'"
      >
        Manage {{ selectedGroup.groupname }} Users
      </a>
      <!-- Change Group Name Tab -->
      <a
        class="nav-item nav-link nav-btn custom-tab"
        (click)="selectChangeGroupName()"
        [class.active]="selectedTab === 'change_group_name'"
      >
        Update Group Name
      </a>

      <!-- Channel User Management Tab -->
      <a
        class="nav-item nav-link nav-btn custom-tab"
        *ngIf="activeChannel"
        [class.active]="selectedTab === 'channel_user_management'"
      >
        Manage {{ activeChannel.name }} Users
      </a>
    </div>
  </div>

  <!-- Tab Content -->
  <div class="tab-content mt-4">
    <!-- Channel Management Tab -->
    <app-channel-management
      *ngIf="selectedTab === 'channel_management'"
      [selectedGroup]="selectedGroup"
      (manageChannelEvent)="selectChannelUserManagement($event)"
    ></app-channel-management>

    <!-- User Management Tab -->
    <app-group-user-management
      *ngIf="selectedTab === 'user_management'"
      [selectedGroup]="selectedGroup"
    ></app-group-user-management>

    <!-- Channel User Management Tab -->
    <app-channel-user-management
      *ngIf="selectedTab === 'channel_user_management' && activeChannel"
      [selectedChannel]="activeChannel"
    ></app-channel-user-management>

    <!-- Change Group Name Tab -->
    <div *ngIf="selectedTab === 'change_group_name'">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <input
          type="text"
          class="form-control bg-dark text-white border-none p-2"
          placeholder="Enter the new name for {{ selectedGroup.groupname }}..."
          [(ngModel)]="newGroupName"
        />
        <button
          class="btn btn-primary btn-sm"
          (click)="changeGroupName()"
        >
          Update Name
        </button>
      </div>
    </div>
  </div>
</section>
