<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light text-black" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form class="mb-md-5 mt-md-4 pb-5" (ngSubmit)="onSignup()">
              <h2 class="fw-bold mb-2 text-uppercase">Signup</h2>
              <p class="text-white-50 mb-5">
                Please create a unique username and a secure password!
              </p>

              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control form-control-lg bg-light text-black"
                  id="floatingInput"
                  placeholder="username"
                  [(ngModel)]="username"
                  name="username"
                  required
                />
                <label for="floatingInput">Username</label>
              </div>

              <div class="form-floating mb-4">
                <input
                  type="password"
                  class="form-control form-control-lg bg-light text-dark"
                  id="floatingInputPassword"
                  placeholder="Password"
                  [(ngModel)]="password"
                  name="password"
                  required
                />
                <label for="floatingInputPassword" class="text-black"
                  >Password</label
                >
              </div>

              <div class="form-floating mb-4">
                <input
                  type="password"
                  class="form-control form-control-lg bg-light text-black"
                  id="floatingInputConfirmPassword"
                  placeholder="Confirm Password"
                  [(ngModel)]="confirmPassword"
                  name="confirmPassword"
                  required
                />
                <label for="floatingInputConfirmPassword" class="text-black">
                  Confirm Password
                </label>
              </div>

              <button class="btn btn-outline-light btn-dark px-5" type="submit">
                Signup
              </button>
            </form>

            <div>
              <p class="mb-0">
                Already have an account?
                <a
                  routerLink="/login"
                  class="text-black-150 fw-bold"
                  style="cursor: pointer"
                  >LogIn</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
